.scrollable-table {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
}

.scrollable-playlistTable {
    overflow-y: auto;
    overflow-x: auto;
}

.playlistTable {
    border-collapse: collapse;
    /* Collapse borders to prevent doubling up */
}

.playlistTable th,
.playlistTable td {
    border: 1px solid black;
    /* Add a solid border around each cell */
    padding: 8px;
    /* Add padding to the cells for spacing */
}
/* Fix the first row (header) */
.playlistTable thead tr {
    position: sticky;
    top: 0;
    background-color: white; /* Optional: Set background color for clarity */
  }
.current-song {
    background-color: #f0f0f0;
    /* Set your desired background color */
    /* Add any other styling you want for the current song row */
}
.container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  

  
  .playlist-container {
    margin-left: 20px; /* Adjust margin as needed */
  }
body {
    overflow: auto;
}

